<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AddNewTabAtEndOfTabs</key>
	<false/>
	<key>AlternateMouseScroll</key>
	<true/>
	<key>EnableAPIServer</key>
	<true/>
	<key>GlobalKeyMap</key>
	<dict>
		<key>0x19-0x60000</key>
		<dict>
			<key>Action</key>
			<integer>39</integer>
			<key>Text</key>
			<string></string>
		</dict>
		<key>0x5b-0x100000-0x21</key>
		<dict>
			<key>Action</key>
			<integer>2</integer>
			<key>Label</key>
			<string></string>
			<key>Text</key>
			<string></string>
			<key>Version</key>
			<integer>0</integer>
		</dict>
		<key>0x5d-0x100000-0x1e</key>
		<dict>
			<key>Action</key>
			<integer>0</integer>
			<key>Label</key>
			<string></string>
			<key>Text</key>
			<string></string>
			<key>Version</key>
			<integer>0</integer>
		</dict>
		<key>0x9-0x40000</key>
		<dict>
			<key>Action</key>
			<integer>32</integer>
			<key>Text</key>
			<string></string>
		</dict>
		<key>0xd-0x20000-0x24</key>
		<dict>
			<key>Action</key>
			<integer>12</integer>
			<key>Keycode</key>
			<integer>13</integer>
			<key>Modifiers</key>
			<integer>131072</integer>
			<key>Text</key>
			<string>\n</string>
			<key>Version</key>
			<integer>1</integer>
		</dict>
		<key>0xf700-0x300000</key>
		<dict>
			<key>Action</key>
			<integer>7</integer>
			<key>Text</key>
			<string></string>
		</dict>
		<key>0xf701-0x300000</key>
		<dict>
			<key>Action</key>
			<integer>6</integer>
			<key>Text</key>
			<string></string>
		</dict>
		<key>0xf702-0x320000</key>
		<dict>
			<key>Action</key>
			<integer>33</integer>
			<key>Text</key>
			<string></string>
		</dict>
		<key>0xf703-0x320000</key>
		<dict>
			<key>Action</key>
			<integer>34</integer>
			<key>Text</key>
			<string></string>
		</dict>
		<key>0xf729-0x100000</key>
		<dict>
			<key>Action</key>
			<integer>5</integer>
			<key>Text</key>
			<string></string>
		</dict>
		<key>0xf72b-0x100000</key>
		<dict>
			<key>Action</key>
			<integer>4</integer>
			<key>Text</key>
			<string></string>
		</dict>
		<key>0xf72c-0x100000</key>
		<dict>
			<key>Action</key>
			<integer>9</integer>
			<key>Text</key>
			<string></string>
		</dict>
		<key>0xf72c-0x20000</key>
		<dict>
			<key>Action</key>
			<integer>9</integer>
			<key>Text</key>
			<string></string>
		</dict>
		<key>0xf72d-0x100000</key>
		<dict>
			<key>Action</key>
			<integer>8</integer>
			<key>Text</key>
			<string></string>
		</dict>
		<key>0xf72d-0x20000</key>
		<dict>
			<key>Action</key>
			<integer>8</integer>
			<key>Text</key>
			<string></string>
		</dict>
	</dict>
	<key>HapticFeedbackForEsc</key>
	<false/>
	<key>HideFromDockAndAppSwitcher</key>
	<true/>
	<key>HideMenuBarInFullscreen</key>
	<false/>
	<key>New Bookmarks</key>
	<array>
		<dict>
			<key>ASCII Anti Aliased</key>
			<true/>
			<key>ASCII Ligatures</key>
			<false/>
			<key>Ambiguous Double Width</key>
			<false/>
			<key>Ansi 0 Color</key>
			<dict>
				<key>Blue Component</key>
				<integer>0</integer>
				<key>Green Component</key>
				<integer>0</integer>
				<key>Red Component</key>
				<integer>0</integer>
			</dict>
			<key>Ansi 1 Color</key>
			<dict>
				<key>Blue Component</key>
				<integer>0</integer>
				<key>Green Component</key>
				<integer>0</integer>
				<key>Red Component</key>
				<real>0.73333334922790527</real>
			</dict>
			<key>Ansi 10 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.3333333432674408</real>
				<key>Green Component</key>
				<integer>1</integer>
				<key>Red Component</key>
				<real>0.3333333432674408</real>
			</dict>
			<key>Ansi 11 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.3333333432674408</real>
				<key>Green Component</key>
				<integer>1</integer>
				<key>Red Component</key>
				<integer>1</integer>
			</dict>
			<key>Ansi 12 Color</key>
			<dict>
				<key>Blue Component</key>
				<integer>1</integer>
				<key>Green Component</key>
				<real>0.3333333432674408</real>
				<key>Red Component</key>
				<real>0.3333333432674408</real>
			</dict>
			<key>Ansi 13 Color</key>
			<dict>
				<key>Blue Component</key>
				<integer>1</integer>
				<key>Green Component</key>
				<real>0.3333333432674408</real>
				<key>Red Component</key>
				<integer>1</integer>
			</dict>
			<key>Ansi 14 Color</key>
			<dict>
				<key>Blue Component</key>
				<integer>1</integer>
				<key>Green Component</key>
				<integer>1</integer>
				<key>Red Component</key>
				<real>0.3333333432674408</real>
			</dict>
			<key>Ansi 15 Color</key>
			<dict>
				<key>Blue Component</key>
				<integer>1</integer>
				<key>Green Component</key>
				<integer>1</integer>
				<key>Red Component</key>
				<integer>1</integer>
			</dict>
			<key>Ansi 2 Color</key>
			<dict>
				<key>Blue Component</key>
				<integer>0</integer>
				<key>Green Component</key>
				<real>0.73333334922790527</real>
				<key>Red Component</key>
				<integer>0</integer>
			</dict>
			<key>Ansi 3 Color</key>
			<dict>
				<key>Blue Component</key>
				<integer>0</integer>
				<key>Green Component</key>
				<real>0.73333334922790527</real>
				<key>Red Component</key>
				<real>0.73333334922790527</real>
			</dict>
			<key>Ansi 4 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.73333334922790527</real>
				<key>Green Component</key>
				<integer>0</integer>
				<key>Red Component</key>
				<integer>0</integer>
			</dict>
			<key>Ansi 5 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.73333334922790527</real>
				<key>Green Component</key>
				<integer>0</integer>
				<key>Red Component</key>
				<real>0.73333334922790527</real>
			</dict>
			<key>Ansi 6 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.73333334922790527</real>
				<key>Green Component</key>
				<real>0.73333334922790527</real>
				<key>Red Component</key>
				<integer>0</integer>
			</dict>
			<key>Ansi 7 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.73333334922790527</real>
				<key>Green Component</key>
				<real>0.73333334922790527</real>
				<key>Red Component</key>
				<real>0.73333334922790527</real>
			</dict>
			<key>Ansi 8 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.3333333432674408</real>
				<key>Green Component</key>
				<real>0.3333333432674408</real>
				<key>Red Component</key>
				<real>0.3333333432674408</real>
			</dict>
			<key>Ansi 9 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.3333333432674408</real>
				<key>Green Component</key>
				<real>0.3333333432674408</real>
				<key>Red Component</key>
				<integer>1</integer>
			</dict>
			<key>BM Growl</key>
			<false/>
			<key>Background Color</key>
			<dict>
				<key>Blue Component</key>
				<integer>0</integer>
				<key>Green Component</key>
				<integer>0</integer>
				<key>Red Component</key>
				<integer>0</integer>
			</dict>
			<key>Background Image Location</key>
			<string></string>
			<key>Blinking Cursor</key>
			<false/>
			<key>Blur</key>
			<true/>
			<key>Blur Radius</key>
			<real>4.7910937499999999</real>
			<key>Bold Color</key>
			<dict>
				<key>Blue Component</key>
				<integer>1</integer>
				<key>Green Component</key>
				<integer>1</integer>
				<key>Red Component</key>
				<integer>1</integer>
			</dict>
			<key>Character Encoding</key>
			<integer>4</integer>
			<key>Close Sessions On End</key>
			<true/>
			<key>Columns</key>
			<integer>80</integer>
			<key>Command</key>
			<string></string>
			<key>Cursor Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.73333334922790527</real>
				<key>Green Component</key>
				<real>0.73333334922790527</real>
				<key>Red Component</key>
				<real>0.73333334922790527</real>
			</dict>
			<key>Cursor Text Color</key>
			<dict>
				<key>Blue Component</key>
				<integer>1</integer>
				<key>Green Component</key>
				<integer>1</integer>
				<key>Red Component</key>
				<integer>1</integer>
			</dict>
			<key>Custom Command</key>
			<string>No</string>
			<key>Custom Directory</key>
			<string>Recycle</string>
			<key>Default Bookmark</key>
			<string>No</string>
			<key>Description</key>
			<string>Default</string>
			<key>Disable Printing</key>
			<true/>
			<key>Disable Window Resizing</key>
			<false/>
			<key>Draw Powerline Glyphs</key>
			<true/>
			<key>Flashing Bell</key>
			<false/>
			<key>Foreground Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.73333334922790527</real>
				<key>Green Component</key>
				<real>0.73333334922790527</real>
				<key>Red Component</key>
				<real>0.73333334922790527</real>
			</dict>
			<key>Horizontal Spacing</key>
			<real>1</real>
			<key>Idle Code</key>
			<integer>0</integer>
			<key>Initial Use Transparency</key>
			<true/>
			<key>Jobs to Ignore</key>
			<array>
				<string>rlogin</string>
				<string>ssh</string>
				<string>slogin</string>
				<string>telnet</string>
			</array>
			<key>Keyboard Map</key>
			<dict>
				<key>0x7f-0x100000-0x33</key>
				<dict>
					<key>Action</key>
					<integer>11</integer>
					<key>Label</key>
					<string></string>
					<key>Text</key>
					<string>0x18 0x7f</string>
					<key>Version</key>
					<integer>1</integer>
				</dict>
				<key>0xf702-0x240000</key>
				<dict>
					<key>Action</key>
					<integer>11</integer>
					<key>Text</key>
					<string>0x01</string>
				</dict>
				<key>0xf702-0x280000-0x0</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Label</key>
					<string></string>
					<key>Text</key>
					<string>b</string>
					<key>Version</key>
					<integer>0</integer>
				</dict>
				<key>0xf702-0x300000-0x7b</key>
				<dict>
					<key>Action</key>
					<integer>11</integer>
					<key>Label</key>
					<string></string>
					<key>Text</key>
					<string>OH</string>
					<key>Version</key>
					<integer>1</integer>
				</dict>
				<key>0xf703-0x240000</key>
				<dict>
					<key>Action</key>
					<integer>11</integer>
					<key>Text</key>
					<string>0x05</string>
				</dict>
				<key>0xf703-0x280000-0x0</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Label</key>
					<string></string>
					<key>Text</key>
					<string>f</string>
					<key>Version</key>
					<integer>0</integer>
				</dict>
				<key>0xf703-0x300000-0x7c</key>
				<dict>
					<key>Action</key>
					<integer>11</integer>
					<key>Label</key>
					<string></string>
					<key>Text</key>
					<string>OF</string>
					<key>Version</key>
					<integer>1</integer>
				</dict>
				<key>0xf728-0x100000-0x75</key>
				<dict>
					<key>Action</key>
					<integer>11</integer>
					<key>Label</key>
					<string></string>
					<key>Text</key>
					<string>0x0b</string>
					<key>Version</key>
					<integer>1</integer>
				</dict>
				<key>0xf728-0x80000-0x75</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Label</key>
					<string></string>
					<key>Text</key>
					<string>d</string>
					<key>Version</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>Left Option Key Changeable</key>
			<false/>
			<key>Minimum Contrast</key>
			<integer>0</integer>
			<key>Mouse Reporting</key>
			<true/>
			<key>Name</key>
			<string>Default</string>
			<key>Non Ascii Font</key>
			<string>Monaco 12</string>
			<key>Non-ASCII Anti Aliased</key>
			<true/>
			<key>Normal Font</key>
			<string>JetBrainsMonoNFM-Regular 12</string>
			<key>Only The Default BG Color Uses Transparency</key>
			<true/>
			<key>Open Toolbelt</key>
			<false/>
			<key>Option Key Sends</key>
			<integer>2</integer>
			<key>Prompt Before Closing 2</key>
			<false/>
			<key>Right Option Key Changeable</key>
			<false/>
			<key>Right Option Key Sends</key>
			<integer>0</integer>
			<key>Rows</key>
			<integer>25</integer>
			<key>Screen</key>
			<integer>-1</integer>
			<key>Scrollback Lines</key>
			<integer>100000</integer>
			<key>Selected Text Color</key>
			<dict>
				<key>Blue Component</key>
				<integer>0</integer>
				<key>Green Component</key>
				<integer>0</integer>
				<key>Red Component</key>
				<integer>0</integer>
			</dict>
			<key>Selection Color</key>
			<dict>
				<key>Blue Component</key>
				<integer>1</integer>
				<key>Green Component</key>
				<real>0.8353000283241272</real>
				<key>Red Component</key>
				<real>0.70980000495910645</real>
			</dict>
			<key>Send Code When Idle</key>
			<false/>
			<key>Send Idle Alert</key>
			<false/>
			<key>Send New Output Alert</key>
			<false/>
			<key>Send Session Ended Alert</key>
			<false/>
			<key>Send Terminal Generated Alerts</key>
			<true/>
			<key>Shortcut</key>
			<string></string>
			<key>Show Mark Indicators</key>
			<true/>
			<key>Silence Bell</key>
			<true/>
			<key>Space</key>
			<integer>0</integer>
			<key>Sync Title</key>
			<false/>
			<key>Tags</key>
			<array/>
			<key>Terminal Type</key>
			<string>xterm-256color</string>
			<key>Title Components</key>
			<integer>1</integer>
			<key>Transparency</key>
			<real>0.027522321428571375</real>
			<key>Unlimited Scrollback</key>
			<false/>
			<key>Use Bold Font</key>
			<true/>
			<key>Use Bright Bold</key>
			<true/>
			<key>Use Italic Font</key>
			<true/>
			<key>Use Non-ASCII Font</key>
			<false/>
			<key>Vertical Spacing</key>
			<real>1</real>
			<key>Visual Bell</key>
			<false/>
			<key>Window Type</key>
			<integer>0</integer>
			<key>Working Directory</key>
			<string>/Users/taylorknapp</string>
		</dict>
	</array>
	<key>PasteTabToStringTabStopSize</key>
	<integer>2</integer>
	<key>PointerActions</key>
	<dict>
		<key>Button,1,1,,</key>
		<dict>
			<key>Action</key>
			<string>kContextMenuPointerAction</string>
		</dict>
		<key>Button,2,1,,</key>
		<dict>
			<key>Action</key>
			<string>kPasteFromSelectionPointerAction</string>
		</dict>
		<key>Gesture,ThreeFingerSwipeDown,,</key>
		<dict>
			<key>Action</key>
			<string>kPrevWindowPointerAction</string>
		</dict>
		<key>Gesture,ThreeFingerSwipeLeft,,</key>
		<dict>
			<key>Action</key>
			<string>kPrevTabPointerAction</string>
		</dict>
		<key>Gesture,ThreeFingerSwipeRight,,</key>
		<dict>
			<key>Action</key>
			<string>kNextTabPointerAction</string>
		</dict>
		<key>Gesture,ThreeFingerSwipeUp,,</key>
		<dict>
			<key>Action</key>
			<string>kNextWindowPointerAction</string>
		</dict>
	</dict>
	<key>ShowFullScreenTabBar</key>
	<true/>
	<key>SoundForEsc</key>
	<false/>
	<key>SplitPaneDimmingAmount</key>
	<real>0.20122832091374612</real>
	<key>TabTitlesUseSmartTruncation</key>
	<false/>
	<key>VisualIndicatorForEsc</key>
	<false/>
	<key>WordCharacters</key>
	<string>/-+\~_.</string>
</dict>
</plist>
