<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AIFeatureFunctionCalling</key>
	<true/>
	<key>AIFeatureHostedCodeInterpeter</key>
	<true/>
	<key>AIFeatureHostedFileSearch</key>
	<true/>
	<key>AIFeatureHostedWebSearch</key>
	<true/>
	<key>AIFeatureStreamingResponses</key>
	<true/>
	<key>AITermAPI</key>
	<integer>2</integer>
	<key>AIVectorStore</key>
	<integer>0</integer>
	<key>AddNewTabAtEndOfTabs</key>
	<false/>
	<key>AiMaxTokens</key>
	<integer>1050000</integer>
	<key>AiModel</key>
	<string>gpt-5.5</string>
	<key>AiResponseMaxTokens</key>
	<integer>128000</integer>
	<key>AitermURL</key>
	<string>https://api.openai.com/v1/responses</string>
	<key>AlternateMouseScroll</key>
	<true/>
	<key>ClaudeCodeTriggersInstalled</key>
	<true/>
	<key>CodeReviewSavedPrompts</key>
	<data>
	W3sibmFtZSI6IkRlZmF1bHQiLCJ1dWlkIjoiNThGNjMxMDQtOUY3OS00RDUxLTg5RUIt
	OTU2MUEwNDg5Rjk2IiwidGV4dCI6IlJldmlldyB0aGUgcGVuZGluZyBjaGFuZ2VzIGlu
	IHRoaXMgcmVwby4gRmxhZyBpc3N1ZXMgYSBjYXJlZnVsIG1haW50YWluZXIgd291bGQg
	YmxvY2sgb24gYmVmb3JlIG1lcmdlLCBpbiByb3VnaGx5IHRoaXMgb3JkZXI6XG4gIDEu
	IENvcnJlY3RuZXNzIOKAlCBsb2dpYyBlcnJvcnMsIGJyb2tlbiBpbnZhcmlhbnRzLCBt
	aXNzZWQgZWRnZSBjYXNlcywgb2ZmLWJ5LW9uZSwgcmFjZXMsIGxpZmV0aW1lXC9tZW1v
	cnkgYnVncywgZXJyb3IgcGF0aHMgdGhhdCBzd2FsbG93IGZhaWx1cmVzLlxuICAyLiBT
	ZWN1cml0eSDigJQgaW5qZWN0aW9uLCBhdXRoblwvYXV0aHogbWlzdGFrZXMsIHNlY3Jl
	dCBoYW5kbGluZywgdW5zYWZlIGRlc2VyaWFsaXphdGlvbiwgdW5zYWZlIGRlZmF1bHRz
	LCBUT0NUT1UuXG4gIDMuIFJlbGlhYmlsaXR5ICYgcGVyZm9ybWFuY2Ug4oCUIGJsb2Nr
	aW5nIHRoZSB3cm9uZyB0aHJlYWQsIHVuYm91bmRlZCByZXNvdXJjZSB1c2UsIGFjY2lk
	ZW50YWwgTyhOwrIpLCByZXRyaWVzIHdpdGhvdXQgYmFja29mZiwgc2lsZW50IGZhaWx1
	cmUgcGF0aHMuXG4gIDQuIENvbnRyYWN0IHJpc2sg4oCUIGJlaGF2aW9yIGNoYW5nZXMg
	Y2FsbGVycyByZWx5IG9uLCBzaWxlbnRseSBjaGFuZ2VkIGRlZmF1bHRzLCBicm9rZW4g
	YmFja3dhcmQgY29tcGF0aWJpbGl0eSwgbWlzc2luZyBtaWdyYXRpb25zLlxuXG5Gb3Ig
	ZWFjaCBmaW5kaW5nIGNpdGUgYGZpbGU6bGluZWAsIGV4cGxhaW4gKndoeSogaXQgaXMg
	d3JvbmcgKG5vdCB3aGF0IHRoZSBjb2RlIGRvZXMpLCBhbmQgcHJvcG9zZSBhIGNvbmNy
	ZXRlIGZpeCB3aGVuIG9uZSBpcyBvYnZpb3VzLiBCZSBjYWxpYnJhdGVkOiBpZiBhIGZp
	bmRpbmcgaXMgbm90IGhpZ2gtY29uZmlkZW5jZSwgc2F5IHNvIG9yIHNraXAgaXQuIFZl
	cmlmeSBjbGFpbXMgYWdhaW5zdCB0aGUgYWN0dWFsIGNvZGUgcmF0aGVyIHRoYW4gaW5m
	ZXJyaW5nIGZyb20gbmFtZXMuXG5cblNraXAgcHVyZSBzdHlsZSwgZm9ybWF0dGluZywg
	bmFtaW5nLCBhbmQgYW55dGhpbmcgYSBsaW50ZXIgb3IgQ0kgYWxyZWFkeSBlbmZvcmNl
	cy5cblxuSWYgeW91IGZpbmQgbm90aGluZyB3b3J0aCBmaXhpbmcsIHNheSBzbyBwbGFp
	bmx5LiJ9XQ==
	</data>
	<key>DebugLogging</key>
	<string>0</string>
	<key>Default Bookmark Guid</key>
	<string>33673CE8-D77A-4C81-9BA7-24CEA36A0CA6</string>
	<key>EnableAPIServer</key>
	<true/>
	<key>GlobalKeyMap</key>
	<dict>
		<key>0x19-0x60000</key>
		<dict>
			<key>Action</key>
			<integer>39</integer>
			<key>Text</key>
			<string></string>
		</dict>
		<key>0x5b-0x100000-0x21</key>
		<dict>
			<key>Action</key>
			<integer>2</integer>
			<key>Label</key>
			<string></string>
			<key>Text</key>
			<string></string>
			<key>Version</key>
			<integer>0</integer>
		</dict>
		<key>0x5d-0x100000-0x1e</key>
		<dict>
			<key>Action</key>
			<integer>0</integer>
			<key>Label</key>
			<string></string>
			<key>Text</key>
			<string></string>
			<key>Version</key>
			<integer>0</integer>
		</dict>
		<key>0x9-0x40000</key>
		<dict>
			<key>Action</key>
			<integer>32</integer>
			<key>Text</key>
			<string></string>
		</dict>
		<key>0xd-0x20000-0x24</key>
		<dict>
			<key>Action</key>
			<integer>12</integer>
			<key>Keycode</key>
			<integer>13</integer>
			<key>Modifiers</key>
			<integer>131072</integer>
			<key>Text</key>
			<string>\n</string>
			<key>Version</key>
			<integer>1</integer>
		</dict>
		<key>0xf700-0x380000-0x7e</key>
		<dict>
			<key>Action</key>
			<integer>7</integer>
			<key>Apply Mode</key>
			<integer>0</integer>
			<key>Escaping</key>
			<integer>2</integer>
			<key>Text</key>
			<string></string>
			<key>Version</key>
			<integer>2</integer>
		</dict>
		<key>0xf701-0x380000-0x7d</key>
		<dict>
			<key>Action</key>
			<integer>6</integer>
			<key>Apply Mode</key>
			<integer>0</integer>
			<key>Escaping</key>
			<integer>2</integer>
			<key>Text</key>
			<string></string>
			<key>Version</key>
			<integer>2</integer>
		</dict>
		<key>0xf702-0x320000</key>
		<dict>
			<key>Action</key>
			<integer>33</integer>
			<key>Text</key>
			<string></string>
		</dict>
		<key>0xf703-0x320000</key>
		<dict>
			<key>Action</key>
			<integer>34</integer>
			<key>Text</key>
			<string></string>
		</dict>
		<key>0xf729-0x100000</key>
		<dict>
			<key>Action</key>
			<integer>5</integer>
			<key>Text</key>
			<string></string>
		</dict>
		<key>0xf72b-0x100000</key>
		<dict>
			<key>Action</key>
			<integer>4</integer>
			<key>Text</key>
			<string></string>
		</dict>
		<key>0xf72c-0x100000</key>
		<dict>
			<key>Action</key>
			<integer>9</integer>
			<key>Text</key>
			<string></string>
		</dict>
		<key>0xf72c-0x20000</key>
		<dict>
			<key>Action</key>
			<integer>9</integer>
			<key>Text</key>
			<string></string>
		</dict>
		<key>0xf72d-0x100000</key>
		<dict>
			<key>Action</key>
			<integer>8</integer>
			<key>Text</key>
			<string></string>
		</dict>
		<key>0xf72d-0x20000</key>
		<dict>
			<key>Action</key>
			<integer>8</integer>
			<key>Text</key>
			<string></string>
		</dict>
	</dict>
	<key>HapticFeedbackForEsc</key>
	<false/>
	<key>HideFromDockAndAppSwitcher</key>
	<true/>
	<key>HideMenuBarInFullscreen</key>
	<false/>
	<key>HotkeyMigratedFromSingleToMulti</key>
	<true/>
	<key>New Bookmarks</key>
	<array>
		<dict>
			<key>ASCII Anti Aliased</key>
			<true/>
			<key>ASCII Ligatures</key>
			<false/>
			<key>Ambiguous Double Width</key>
			<false/>
			<key>Ansi 0 Color</key>
			<dict>
				<key>Blue Component</key>
				<integer>0</integer>
				<key>Green Component</key>
				<integer>0</integer>
				<key>Red Component</key>
				<integer>0</integer>
			</dict>
			<key>Ansi 1 Color</key>
			<dict>
				<key>Blue Component</key>
				<integer>0</integer>
				<key>Green Component</key>
				<integer>0</integer>
				<key>Red Component</key>
				<real>0.73333334922790527</real>
			</dict>
			<key>Ansi 10 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.3333333432674408</real>
				<key>Green Component</key>
				<integer>1</integer>
				<key>Red Component</key>
				<real>0.3333333432674408</real>
			</dict>
			<key>Ansi 11 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.3333333432674408</real>
				<key>Green Component</key>
				<integer>1</integer>
				<key>Red Component</key>
				<integer>1</integer>
			</dict>
			<key>Ansi 12 Color</key>
			<dict>
				<key>Blue Component</key>
				<integer>1</integer>
				<key>Green Component</key>
				<real>0.3333333432674408</real>
				<key>Red Component</key>
				<real>0.3333333432674408</real>
			</dict>
			<key>Ansi 13 Color</key>
			<dict>
				<key>Blue Component</key>
				<integer>1</integer>
				<key>Green Component</key>
				<real>0.3333333432674408</real>
				<key>Red Component</key>
				<integer>1</integer>
			</dict>
			<key>Ansi 14 Color</key>
			<dict>
				<key>Blue Component</key>
				<integer>1</integer>
				<key>Green Component</key>
				<integer>1</integer>
				<key>Red Component</key>
				<real>0.3333333432674408</real>
			</dict>
			<key>Ansi 15 Color</key>
			<dict>
				<key>Blue Component</key>
				<integer>1</integer>
				<key>Green Component</key>
				<integer>1</integer>
				<key>Red Component</key>
				<integer>1</integer>
			</dict>
			<key>Ansi 2 Color</key>
			<dict>
				<key>Blue Component</key>
				<integer>0</integer>
				<key>Green Component</key>
				<real>0.73333334922790527</real>
				<key>Red Component</key>
				<integer>0</integer>
			</dict>
			<key>Ansi 3 Color</key>
			<dict>
				<key>Blue Component</key>
				<integer>0</integer>
				<key>Green Component</key>
				<real>0.73333334922790527</real>
				<key>Red Component</key>
				<real>0.73333334922790527</real>
			</dict>
			<key>Ansi 4 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.73333334922790527</real>
				<key>Green Component</key>
				<integer>0</integer>
				<key>Red Component</key>
				<integer>0</integer>
			</dict>
			<key>Ansi 5 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.73333334922790527</real>
				<key>Green Component</key>
				<integer>0</integer>
				<key>Red Component</key>
				<real>0.73333334922790527</real>
			</dict>
			<key>Ansi 6 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.73333334922790527</real>
				<key>Green Component</key>
				<real>0.73333334922790527</real>
				<key>Red Component</key>
				<integer>0</integer>
			</dict>
			<key>Ansi 7 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.73333334922790527</real>
				<key>Green Component</key>
				<real>0.73333334922790527</real>
				<key>Red Component</key>
				<real>0.73333334922790527</real>
			</dict>
			<key>Ansi 8 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.3333333432674408</real>
				<key>Green Component</key>
				<real>0.3333333432674408</real>
				<key>Red Component</key>
				<real>0.3333333432674408</real>
			</dict>
			<key>Ansi 9 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.3333333432674408</real>
				<key>Green Component</key>
				<real>0.3333333432674408</real>
				<key>Red Component</key>
				<integer>1</integer>
			</dict>
			<key>BM Growl</key>
			<false/>
			<key>Background Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.20392156862745098</real>
				<key>Green Component</key>
				<real>0.17254901960784313</real>
				<key>Red Component</key>
				<real>0.15686274509803921</real>
			</dict>
			<key>Background Image Location</key>
			<string></string>
			<key>Blinking Cursor</key>
			<true/>
			<key>Blur</key>
			<true/>
			<key>Blur Radius</key>
			<real>4.7910937499999999</real>
			<key>Bold Color</key>
			<dict>
				<key>Blue Component</key>
				<integer>1</integer>
				<key>Green Component</key>
				<integer>1</integer>
				<key>Red Component</key>
				<integer>1</integer>
			</dict>
			<key>Character Encoding</key>
			<integer>4</integer>
			<key>Close Sessions On End</key>
			<true/>
			<key>Columns</key>
			<integer>80</integer>
			<key>Command</key>
			<string></string>
			<key>Cursor Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.73333334922790527</real>
				<key>Green Component</key>
				<real>0.73333334922790527</real>
				<key>Red Component</key>
				<real>0.73333334922790527</real>
			</dict>
			<key>Cursor Text Color</key>
			<dict>
				<key>Blue Component</key>
				<integer>1</integer>
				<key>Green Component</key>
				<integer>1</integer>
				<key>Red Component</key>
				<integer>1</integer>
			</dict>
			<key>Custom Command</key>
			<string>No</string>
			<key>Custom Directory</key>
			<string>Recycle</string>
			<key>Default Bookmark</key>
			<string>No</string>
			<key>Description</key>
			<string>Default</string>
			<key>Disable Printing</key>
			<true/>
			<key>Disable Window Resizing</key>
			<false/>
			<key>Draw Powerline Glyphs</key>
			<true/>
			<key>Flashing Bell</key>
			<false/>
			<key>Foreground Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.73333334922790527</real>
				<key>Green Component</key>
				<real>0.73333334922790527</real>
				<key>Red Component</key>
				<real>0.73333334922790527</real>
			</dict>
			<key>Guid</key>
			<string>33673CE8-D77A-4C81-9BA7-24CEA36A0CA6</string>
			<key>Horizontal Spacing</key>
			<real>1</real>
			<key>Idle Code</key>
			<integer>0</integer>
			<key>Initial Use Transparency</key>
			<true/>
			<key>Jobs to Ignore</key>
			<array>
				<string>rlogin</string>
				<string>ssh</string>
				<string>slogin</string>
				<string>telnet</string>
			</array>
			<key>Keyboard Map</key>
			<dict>
				<key>0x69-0x40000-0x22</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Apply Mode</key>
					<integer>1</integer>
					<key>Escaping</key>
					<integer>2</integer>
					<key>Text</key>
					<string>[105;5u</string>
					<key>Version</key>
					<integer>2</integer>
				</dict>
				<key>0x7f-0x100000-0x33</key>
				<dict>
					<key>Action</key>
					<integer>11</integer>
					<key>Label</key>
					<string></string>
					<key>Text</key>
					<string>0x18 0x7f</string>
					<key>Version</key>
					<integer>1</integer>
				</dict>
				<key>0xf702-0x240000</key>
				<dict>
					<key>Action</key>
					<integer>11</integer>
					<key>Text</key>
					<string>0x01</string>
				</dict>
				<key>0xf702-0x280000-0x7b</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Apply Mode</key>
					<integer>0</integer>
					<key>Escaping</key>
					<integer>1</integer>
					<key>Text</key>
					<string>[1;3D</string>
					<key>Version</key>
					<integer>2</integer>
				</dict>
				<key>0xf703-0x240000</key>
				<dict>
					<key>Action</key>
					<integer>11</integer>
					<key>Text</key>
					<string>0x05</string>
				</dict>
				<key>0xf703-0x280000-0x7c</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Apply Mode</key>
					<integer>0</integer>
					<key>Escaping</key>
					<integer>1</integer>
					<key>Text</key>
					<string>[1;3C</string>
					<key>Version</key>
					<integer>2</integer>
				</dict>
				<key>0xf728-0x100000-0x75</key>
				<dict>
					<key>Action</key>
					<integer>11</integer>
					<key>Label</key>
					<string></string>
					<key>Text</key>
					<string>0x0b</string>
					<key>Version</key>
					<integer>1</integer>
				</dict>
				<key>0xf728-0x80000-0x75</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Label</key>
					<string></string>
					<key>Text</key>
					<string>d</string>
					<key>Version</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>Left Option Key Changeable</key>
			<false/>
			<key>Minimum Contrast</key>
			<integer>0</integer>
			<key>Mouse Reporting</key>
			<true/>
			<key>Name</key>
			<string>Default</string>
			<key>Non Ascii Font</key>
			<string>Monaco 12</string>
			<key>Non-ASCII Anti Aliased</key>
			<true/>
			<key>Normal Font</key>
			<string>JetBrainsMonoNFM-Regular 12</string>
			<key>Only The Default BG Color Uses Transparency</key>
			<true/>
			<key>Open Toolbelt</key>
			<false/>
			<key>Option Key Sends</key>
			<integer>2</integer>
			<key>Prompt Before Closing 2</key>
			<false/>
			<key>Right Command Key</key>
			<integer>3</integer>
			<key>Right Option Key Changeable</key>
			<false/>
			<key>Right Option Key Sends</key>
			<integer>0</integer>
			<key>Rows</key>
			<integer>25</integer>
			<key>Screen</key>
			<integer>-1</integer>
			<key>Scrollback Lines</key>
			<integer>100000</integer>
			<key>Selected Text Color</key>
			<dict>
				<key>Blue Component</key>
				<integer>0</integer>
				<key>Green Component</key>
				<integer>0</integer>
				<key>Red Component</key>
				<integer>0</integer>
			</dict>
			<key>Selection Color</key>
			<dict>
				<key>Blue Component</key>
				<integer>1</integer>
				<key>Green Component</key>
				<real>0.8353000283241272</real>
				<key>Red Component</key>
				<real>0.70980000495910645</real>
			</dict>
			<key>Semantic History</key>
			<dict>
				<key>Action</key>
				<string>kSemanticHistoryRawCommandAction</string>
				<key>Text</key>
				<string>/Users/taylorknapp/.dotfiles/bin/iterm-open-nvim \1 \2</string>
			</dict>
			<key>Send Code When Idle</key>
			<false/>
			<key>Send Idle Alert</key>
			<false/>
			<key>Send New Output Alert</key>
			<false/>
			<key>Send Session Ended Alert</key>
			<false/>
			<key>Send Terminal Generated Alerts</key>
			<true/>
			<key>Shortcut</key>
			<string></string>
			<key>Show Mark Indicators</key>
			<true/>
			<key>Silence Bell</key>
			<true/>
			<key>Space</key>
			<integer>0</integer>
			<key>Sync Title</key>
			<false/>
			<key>Tags</key>
			<array/>
			<key>Terminal Type</key>
			<string>xterm-256color</string>
			<key>Title Components</key>
			<integer>1</integer>
			<key>Transparency</key>
			<real>0.01</real>
			<key>Triggers</key>
			<array>
				<dict>
					<key>action</key>
					<string>iTermEnterWorkgroupTrigger</string>
					<key>contentregex</key>
					<string></string>
					<key>disabled</key>
					<false/>
					<key>eventParams</key>
					<dict>
						<key>jobName</key>
						<string>claude</string>
					</dict>
					<key>matchType</key>
					<integer>113</integer>
					<key>parameter</key>
					<string>builtin.claudeCode</string>
					<key>partial</key>
					<false/>
					<key>regex</key>
					<string></string>
				</dict>
				<dict>
					<key>action</key>
					<string>iTermExitWorkgroupTrigger</string>
					<key>contentregex</key>
					<string></string>
					<key>disabled</key>
					<false/>
					<key>eventParams</key>
					<dict>
						<key>jobName</key>
						<string>claude</string>
						<key>leaderOnly</key>
						<true/>
					</dict>
					<key>matchType</key>
					<integer>114</integer>
					<key>parameter</key>
					<string></string>
					<key>partial</key>
					<false/>
					<key>regex</key>
					<string></string>
				</dict>
			</array>
			<key>Unlimited Scrollback</key>
			<false/>
			<key>Use Bold Font</key>
			<true/>
			<key>Use Bright Bold</key>
			<true/>
			<key>Use Italic Font</key>
			<true/>
			<key>Use Non-ASCII Font</key>
			<false/>
			<key>Use libtickit protocol</key>
			<false/>
			<key>Vertical Spacing</key>
			<real>1</real>
			<key>Visual Bell</key>
			<false/>
			<key>Window Type</key>
			<integer>0</integer>
			<key>Working Directory</key>
			<string>/Users/taylorknapp</string>
		</dict>
	</array>
	<key>PasteTabToStringTabStopSize</key>
	<integer>2</integer>
	<key>PointerActions</key>
	<dict>
		<key>Button,1,1,,</key>
		<dict>
			<key>Action</key>
			<string>kContextMenuPointerAction</string>
		</dict>
		<key>Button,2,1,,</key>
		<dict>
			<key>Action</key>
			<string>kPasteFromSelectionPointerAction</string>
		</dict>
		<key>Gesture,ThreeFingerSwipeDown,,</key>
		<dict>
			<key>Action</key>
			<string>kPrevWindowPointerAction</string>
		</dict>
		<key>Gesture,ThreeFingerSwipeLeft,,</key>
		<dict>
			<key>Action</key>
			<string>kPrevTabPointerAction</string>
		</dict>
		<key>Gesture,ThreeFingerSwipeRight,,</key>
		<dict>
			<key>Action</key>
			<string>kNextTabPointerAction</string>
		</dict>
		<key>Gesture,ThreeFingerSwipeUp,,</key>
		<dict>
			<key>Action</key>
			<string>kNextWindowPointerAction</string>
		</dict>
	</dict>
	<key>ShowFullScreenTabBar</key>
	<true/>
	<key>SoundForEsc</key>
	<false/>
	<key>SplitPaneDimmingAmount</key>
	<real>0.20122832091374612</real>
	<key>TabTitlesUseSmartTruncation</key>
	<false/>
	<key>ToolbeltTools</key>
	<array>
		<string>Profiles</string>
		<string>Session Status</string>
	</array>
	<key>VisualIndicatorForEsc</key>
	<false/>
	<key>WordCharacters</key>
	<string>/-+\~_.</string>
	<key>Workgroups</key>
	<data>
	W3sidW5pcXVlSWRlbnRpZmllciI6ImJ1aWx0aW4uY2xhdWRlQ29kZSIsInNlc3Npb25z
	IjpbeyJwZXJGaWxlQ29tbWFuZCI6IiIsInVuaXF1ZUlkZW50aWZpZXIiOiJidWlsdGlu
	LmNsYXVkZUNvZGUubWFpbiIsInVybFN0cmluZyI6IiIsImtpbmQiOnsia2luZCI6InJv
	b3QifSwiZGlzcGxheU5hbWUiOiJDaGF0IiwidG9vbGJhckl0ZW1zIjpbeyJraW5kIjoi
	bW9kZVN3aXRjaGVyIn0seyJraW5kIjoiZ2l0U3RhdHVzIn0seyJraW5kIjoiYXV0b1Jl
	cXVlc3RSZXZpZXdXaGVuSWRsZSJ9XSwiY29tbWFuZCI6IiIsIm1vZGUiOiJyZWd1bGFy
	In0seyJwZXJGaWxlQ29tbWFuZCI6ImdpdCBkaWZmdG9vbCAteSAteCB2aW1kaWZmIFxc
	KGdpdEJhc2UpIC0tIFxcKGZpbGUpIiwidXJsU3RyaW5nIjoiIiwidW5pcXVlSWRlbnRp
	ZmllciI6ImJ1aWx0aW4uY2xhdWRlQ29kZS5kaWZmIiwia2luZCI6eyJraW5kIjoicGVl
	ciJ9LCJwYXJlbnRJRCI6ImJ1aWx0aW4uY2xhdWRlQ29kZS5tYWluIiwiZGlzcGxheU5h
	bWUiOiJEaWZmIiwiY29tbWFuZCI6ImdpdCBkaWZmdG9vbCAteSAteCB2aW1kaWZmIFxc
	KGdpdEJhc2UpIiwidG9vbGJhckl0ZW1zIjpbeyJraW5kIjoibW9kZVN3aXRjaGVyIn0s
	eyJraW5kIjoiY2hhbmdlZEZpbGVTZWxlY3RvciJ9LHsia2luZCI6ImdpdEJhc2VTZWxl
	Y3RvciJ9LHsiYmFja1Nob3J0Y3V0Ijp7InNlcmlhbGl6ZWQiOiIweGY3MDItMHgzNDAw
	MDAtMHg3YiJ9LCJyZWxvYWRTaG9ydGN1dCI6eyJzZXJpYWxpemVkIjoiMHg3Mi0weDEw
	MDAwMC0weGYifSwia2luZCI6Im5hdmlnYXRpb24iLCJmb3J3YXJkU2hvcnRjdXQiOnsi
	c2VyaWFsaXplZCI6IjB4ZjcwMy0weDM0MDAwMC0weDdjIn19XSwibW9kZSI6ImRpZmYi
	fSx7InBhcmVudElEIjoiYnVpbHRpbi5jbGF1ZGVDb2RlLm1haW4iLCJ1cmxTdHJpbmci
	OiIiLCJwZXJGaWxlQ29tbWFuZCI6IiIsInVuaXF1ZUlkZW50aWZpZXIiOiJidWlsdGlu
	LmNsYXVkZUNvZGUucmV2aWV3IiwiY29tbWFuZCI6ImNsYXVkZSBcXChjb2RlUmV2aWV3
	UHJvbXB0KSAtLWFwcGVuZC1zeXN0ZW0tcHJvbXB0LWZpbGUgJ1xcKGNvZGVSZXZpZXdT
	eXN0ZW1Qcm9tcHRGaWxlKScgLS1zZXR0aW5ncyAnXFwoaXRlcm0yLmFwcEJ1bmRsZVBh
	dGgpXC9Db250ZW50c1wvUmVzb3VyY2VzXC9jb2RlLXJldmlldy1zZXR0aW5ncy50eHQn
	Iiwia2luZCI6eyJraW5kIjoicGVlciJ9LCJ0b29sYmFySXRlbXMiOlt7ImtpbmQiOiJt
	b2RlU3dpdGNoZXIifSx7InNob3J0Y3V0Ijp7InNlcmlhbGl6ZWQiOiIweDcyLTB4MTAw
	MDAwLTB4ZiJ9LCJraW5kIjoicmVsb2FkIn0seyJraW5kIjoiYXV0b1NlbmRDbGlwcGlu
	Z3NXaGVuSWRsZSJ9XSwibW9kZSI6ImNvZGVSZXZpZXciLCJkaXNwbGF5TmFtZSI6IkNv
	ZGUgUmV2aWV3In1dLCJuYW1lIjoiQ2xhdWRlIENvZGUifV0=
	</data>
	<key>findMode_iTerm</key>
	<integer>2</integer>
</dict>
</plist>
